# !STARTERCONF Duplicate this to .env.local

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
NEXT_PUBLIC_WPCAS_SERVICE_BACKEND_IP=http://localhost:4020
NEXT_PUBLIC_MARKETPLACE_SERVICE_BACKEND_IP=http://localhost:4020
